USE [QL_BHTVPP]
GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 26/07/2021 9:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[MAHH] [nchar](10) NOT NULL,
	[TENHH] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_CHITIETHD_1] PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPN]    Script Date: 26/07/2021 9:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPN](
	[MAPN] [nchar](10) NOT NULL,
	[MAHH] [nchar](10) NOT NULL,
	[SLNHAP] [int] NULL,
	[GIANHAP] [float] NULL,
 CONSTRAINT [PK_CHITIETPN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 26/07/2021 9:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [nchar](10) NOT NULL,
	[TENCV] [nvarchar](50) NULL,
	[LUONG] [float] NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 26/07/2021 9:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MATK] [char](10) NOT NULL,
	[TENTK] [nvarchar](50) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[TINHTRANG] [bit] NULL,
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 26/07/2021 9:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MAHH] [nchar](10) NOT NULL,
	[TENHH] [nvarchar](50) NULL,
	[MALOAI] [nchar](10) NULL,
	[SOLUONG] [int] NULL,
	[DVT] [nvarchar](50) NULL,
	[GIA] [float] NULL,
 CONSTRAINT [PK_HANGHOA] PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 26/07/2021 9:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[TONGTIEN] [nvarchar](50) NULL,
	[TIENNHAN] [nvarchar](50) NULL,
	[TIENTHUA] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 26/07/2021 9:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[GTINH] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[MATK] [char](10) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIHH]    Script Date: 26/07/2021 9:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHH](
	[MALOAI] [nchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAIHH] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 26/07/2021 9:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nchar](10) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 26/07/2021 9:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[NGSINH] [nvarchar](50) NULL,
	[GTINH] [nvarchar](50) NULL,
	[MACV] [nchar](10) NULL,
	[MATK] [char](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAPHH]    Script Date: 26/07/2021 9:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHH](
	[MAPN] [nchar](10) NOT NULL,
	[MANCC] [nchar](10) NULL,
	[NGAYNHAP] [nvarchar](50) NULL,
	[MANV] [nchar](10) NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_PHIEUNHAPHH] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHITIETHD] ([MAHH], [TENHH], [SOLUONG], [DONGIA]) VALUES (N'HH07      ', N'BÚT XÓA', 2, 100000)
INSERT [dbo].[CHITIETHD] ([MAHH], [TENHH], [SOLUONG], [DONGIA]) VALUES (N'HH26      ', N'NƯỚC VỆ SINH KÍNH', 1, 56000)
INSERT [dbo].[CHITIETPN] ([MAPN], [MAHH], [SLNHAP], [GIANHAP]) VALUES (N'PN02      ', N'HH05      ', 50, 546000)
INSERT [dbo].[CHITIETPN] ([MAPN], [MAHH], [SLNHAP], [GIANHAP]) VALUES (N'PN04      ', N'HH07      ', 90, 450000)
INSERT [dbo].[CHITIETPN] ([MAPN], [MAHH], [SLNHAP], [GIANHAP]) VALUES (N'PN07      ', N'HH07      ', 100, 500000)
INSERT [dbo].[CHUCVU] ([MACV], [TENCV], [LUONG]) VALUES (N'CV01      ', N'THU NGÂN', 1000000)
INSERT [dbo].[CHUCVU] ([MACV], [TENCV], [LUONG]) VALUES (N'CV02      ', N'NHÂN VIÊN DỌN DẸP', 120000)
INSERT [dbo].[CHUCVU] ([MACV], [TENCV], [LUONG]) VALUES (N'CV03      ', N'NHÂN VIÊN BÁN HÀNG', 1500000)
INSERT [dbo].[DANGKY] ([MATK], [TENTK], [MATKHAU], [TINHTRANG]) VALUES (N'TK01      ', N'Luffy', N'123', 1)
INSERT [dbo].[DANGKY] ([MATK], [TENTK], [MATKHAU], [TINHTRANG]) VALUES (N'TK02      ', N'Nami', N'123', 1)
INSERT [dbo].[DANGKY] ([MATK], [TENTK], [MATKHAU], [TINHTRANG]) VALUES (N'TK03      ', N'NhuY', N'123', 1)
INSERT [dbo].[HANGHOA] ([MAHH], [TENHH], [MALOAI], [SOLUONG], [DVT], [GIA]) VALUES (N'HH01      ', N'BÚT CHÌ CAM', N'L02       ', 100, N'CÂY', 20000)
INSERT [dbo].[HANGHOA] ([MAHH], [TENHH], [MALOAI], [SOLUONG], [DVT], [GIA]) VALUES (N'HH02      ', N'THƯỚC KẺ NHỰA', N'L03       ', 150, N'CÂY', 50000)
INSERT [dbo].[HANGHOA] ([MAHH], [TENHH], [MALOAI], [SOLUONG], [DVT], [GIA]) VALUES (N'HH03      ', N'GIẤY A4 CAM', N'L01       ', 80, N'TỜ', 3000)
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [TONGTIEN], [TIENNHAN], [TIENTHUA]) VALUES (1, N'190000.0  VND', N'200000', N'10000.0  VND')
INSERT [dbo].[HOADON] ([MAHD], [TONGTIEN], [TIENNHAN], [TIENTHUA]) VALUES (2, N'260000.0  VND', N'300000', N'40000.0  VND')
INSERT [dbo].[HOADON] ([MAHD], [TONGTIEN], [TIENNHAN], [TIENTHUA]) VALUES (3, N'1300000.0  VND', N'1400000', N'100000.0  VND')
SET IDENTITY_INSERT [dbo].[HOADON] OFF
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [GTINH], [SDT], [DIACHI], [MATK]) VALUES (N'KH01      ', N'TRẦN ĐÌNH TRỌNG', N'NAM', N'44456598', N'TÂY THẠNH', N'TK01      ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [GTINH], [SDT], [DIACHI], [MATK]) VALUES (N'KH02      ', N'LÊ KIM DUNG', N'NỮ', N'15547899', N'BẾN TRE', N'TK02      ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [GTINH], [SDT], [DIACHI], [MATK]) VALUES (N'KH03      ', N'LÊ THỊ THÚY', N'NỮ', N'78956455', N'VŨNG TÀU', N'TK04      ')
INSERT [dbo].[LOAIHH] ([MALOAI], [TENLOAI]) VALUES (N'L01       ', N'CÁC LOẠI GIẤY')
INSERT [dbo].[LOAIHH] ([MALOAI], [TENLOAI]) VALUES (N'L02       ', N'CÁC LOẠI BÚT')
INSERT [dbo].[LOAIHH] ([MALOAI], [TENLOAI]) VALUES (N'L03       ', N'CÁC LOẠI THƯỚC')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC01     ', N'VĂN PHÒNG PHẨM SANG HÀ', N'LÊ TRỌNG TẤN', N'0908673456')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC02     ', N'VĂN PHÒNG PHẨM KIM BIÊN', N'NGUYỄN HỮU CẢNH', N'0908673456')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC03     ', N'VĂN PHÒNG PHẨM AN PHÁT', N'NGUYỄN THỊ MINH KHAI', N'1548778996')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGSINH], [GTINH], [MACV], [MATK]) VALUES (N'NV01      ', N'NGUYỄN KIM TRỌNG', N'2001-01-01', N'NAM', N'CV01      ', N'TK01      ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGSINH], [GTINH], [MACV], [MATK]) VALUES (N'NV02      ', N'LÊ LAN ANH', N'2002-12-02', N'NỮ', N'CV03      ', N'TK02      ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGSINH], [GTINH], [MACV], [MATK]) VALUES (N'NV03      ', N'NGUYỄN KIM PHÚC', N'2003-02-04', N'NỮ', N'CV07      ', N'TK03      ')
INSERT [dbo].[PHIEUNHAPHH] ([MAPN], [MANCC], [NGAYNHAP], [MANV], [TONGTIEN]) VALUES (N'PN01      ', N'NCC02     ', N'2020-02-12', N'NV02      ', 2000000)
INSERT [dbo].[PHIEUNHAPHH] ([MAPN], [MANCC], [NGAYNHAP], [MANV], [TONGTIEN]) VALUES (N'PN02      ', N'NCC01     ', N'2021-05-12', N'NV01      ', 5000000)
INSERT [dbo].[PHIEUNHAPHH] ([MAPN], [MANCC], [NGAYNHAP], [MANV], [TONGTIEN]) VALUES (N'PN03      ', N'NCC04     ', N'2020-12-06', N'NV03      ', 1500)
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPN_HANGHOA] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANGHOA] ([MAHH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [FK_CHITIETPN_HANGHOA]
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPN_PHIEUNHAPHH] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAPHH] ([MAPN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [FK_CHITIETPN_PHIEUNHAPHH]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_LOAIHH] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIHH] ([MALOAI])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_LOAIHH]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_DANGKY] FOREIGN KEY([MATK])
REFERENCES [dbo].[DANGKY] ([MATK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_DANGKY]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_DANGKY] FOREIGN KEY([MATK])
REFERENCES [dbo].[DANGKY] ([MATK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_DANGKY]
GO
ALTER TABLE [dbo].[PHIEUNHAPHH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPHH_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAPHH] CHECK CONSTRAINT [FK_PHIEUNHAPHH_NHACUNGCAP]
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [GIANHAP] CHECK  (([GIANHAP]>(0)))
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [GIANHAP]
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [SLNHAP] CHECK  (([SLNHAP]>(0)))
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [SLNHAP]
GO
ALTER TABLE [dbo].[CHUCVU]  WITH CHECK ADD  CONSTRAINT [LUONG] CHECK  (([LUONG]>(0)))
GO
ALTER TABLE [dbo].[CHUCVU] CHECK CONSTRAINT [LUONG]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [GIA] CHECK  (([GIA]>(0)))
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [GIA]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [SOLUONG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [GTINH] CHECK  (([GTINH]=N'NAM' OR [GTINH]=N'NỮ'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [GTINH]
GO
ALTER TABLE [dbo].[PHIEUNHAPHH]  WITH CHECK ADD  CONSTRAINT [TONGTIEN] CHECK  (([TONGTIEN]>(0)))
GO
ALTER TABLE [dbo].[PHIEUNHAPHH] CHECK CONSTRAINT [TONGTIEN]
GO
